<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>

  <connectionStrings>
    <add name="CMSDBConnectionString" connectionString="Data Source=Localhost;Initial Catalog=CMS;Persist Security Info=True;User ID=sa;Password=krishna" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>